html, body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}


:root{
    --bg-primary: #024443;
    --bg-primary-light: #085c5a;
    --bg-secondary: #03b2b7;
    --bg-secondary-trans: #03b1b7b3;
    
    --txt-light:  #ffffff;
    --txt-secondary:  #c3c3c3;

    --bg-accent: #c21107;
  
}


