html, body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}


:root{
    --rojo: #660000;
    --blanco: #F5F5F5;
    --grisOscuro: #757575;
    --negro: #000C14;
    --naranja: #FFA85C;
    --grisClaro: #D3E0EE;
    --blancoPuro: #ffffff;
}


